<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://localhost:4200" class="navbar-brand"><span id="head">Inventory</span></a></div>

        <!-- <ul class="navbar-nav">
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/Evyatar" class="nav-link">Home</a></li>
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
        </ul> -->

        <!-- <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><input type="number" class="form-control"></li>
            <li><button id="searchedItem" (click)="searchItem" class="form">Search</button></li>
        </ul> -->
    </nav>
</header>